DEBUG=True
SECRET_KEY=S3cr3t_K#Key

API_MODE=LIVE

SANDBOX_PASS_PHRASE=coinpro
SANDBOX_API_SECRET=CM6BZYkVosVSPH1g5x4FdWd2EG5L9CL0sAJatpvx29cMQcokijKqwV0X4aKt47xHQHoFg9iQIq83vPqqPC98lA==
SANDBOX_API_KEY=baf566002a9d454978368814b796614d

PASS_PHRASE=Lee&Dee
API_SECRET=QaLSZwGJUNWWJ26UujBs72kmeftVbzIX8tRNJAhCYg+iFDIXJuyWn7O8MDu5zh5hyqrsxNvxQvBMeKQH/ZCFDw==
API_KEY=40743b68575f88476ad329f8fb5e7048

SANDBOX_API_URL=https://api-public.sandbox.pro.coinbase.com