{% extends 'layouts/base-portfolio.html' %}

{% load static %}

{% block title %} New portfolio {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<style type="text/css">

</style>

{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <!-- Card header -->
            <form method="POST" action="{% url 'new_portfolio' %}" id="">
              {% csrf_token %}
              <div class="card-header bg-transparent">
                <div class="row align-items-center">
                  <div class="col-7">
                    <h3 class="text-primary mb-0">New portfolio</h3>
                  </div>
                  <div class="col-5 text-right">
                    <button type="submit" class="btn btn-sm btn-primary" id="btnCreatePortfolio">Save</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4">
                      <div class="form-group">
                        <label for="name" class="form-control-label">Name</label>
                        <input class="form-control" type="text" value="" id="name" name="name" required>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="form-group">
                          <label for="acc_type" class="form-control-label">Account Type</label>
                          <select class="form-control" name="acc_type" id="acc_type" required>
                            <option value="LIVE">LIVE</option>
                            <option value="DEMO">DEMO</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="form-group">
                          <label for="passphrase" class="form-control-label">Pass Phrase</label>
                          <input class="form-control" type="text" value="" id="passphrase" name="passphrase" required>
                      </div>
                  </div>
        				</div>
                <div class="row">
                	<div class="col">
        						<div class="form-group">
        							<label for="api_key" class="form-control-label">API Key</label>
        							<input class="form-control" type="text" value="" id="api_key" name="api_key" step="any" required>
        						</div>
        					</div>
                </div>
                <div class="row">
                	<div class="col">
        						<div class="form-group">
        							<label for="api_secret" class="form-control-label">API Secret</label>
        							<input class="form-control" type="text" value="" id="api_secret" name="api_secret" step="any" required>
        						</div>
        					</div>
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->

{% block javascripts %}
<script>
</script>
{% endblock javascripts %}
